/* 文章页背景 */
.layout_post>#post {
    /* 以下代表透明度为0.5 可以自行修改*/
    background: rgba(255,255,255,.5);
}

/* 所有页面背景 */
.layout > div:first-child:not(.recent-posts), #aside-content .card-widget, #recent-posts > .recent-post-item, #footer {
    /* 以下代表透明度为0.5 */
    background: rgba(255,255,255,.5);
}

#web_bg {
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    }

/*汉仪新蒂牌楼体*/
@font-face {
    font-family: 'Pailou';
    src: url(/font/HanyiSentyPailouArch.ttf);
}

 /*文章字体大小*/
#article-container p {
    font-size: 19px;
}